<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTG_Timer_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MTG_Timer_Manager.Properties.Settings>
            <setting name="kullanımsayısı" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tarih1" serializeAs="String">
                <value />
            </setting>
            <setting name="saat1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kod" serializeAs="String">
                <value />
            </setting>
            <setting name="anaşifre" serializeAs="String">
                <value />
            </setting>
            <setting name="tarih2" serializeAs="String">
                <value />
            </setting>
            <setting name="saat2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aktiflik" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doğrulanma" serializeAs="String">
                <value>False</value>
            </setting>
        </MTG_Timer_Manager.Properties.Settings>
    </userSettings>
</configuration>